<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound</title>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
  </head>
  <body class="zombitronica__index">
    <div>
      <a id="start" href="#">Démarrer</a>
      <a id="stop" href="#">Arrêter</a>
      <div class="buttons">
        <a href="sequencer">Séquenceur</a>
        <a href="keyboard">Clavier</a>
        <a href="controller">Contrôleur</a>
        <a href="position">Position</a>
      </div>
    </div>
    <script type="text/javascript" src="scripts/tone/build/Tone.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/assets/js/zombitronica.js"></script>
  </body>
</html>