<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #ball {
      background: red;
      position: absolute;
      width: 40px;
      height: 40px;
      margin: -20px;
    }
    body {
      background: black;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: white;
      font: 1em sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h1 {
      user-select: none;
      pointer-events: none;
    }
  </style>
</head>
<body>
  <div class="touch">
    <h1>Swipe</h1>
  </div>
</body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  window.addEventListener("touchmove", (event) => {
    socket.emit('motion', {
      x: event.touches[0].clientX,
      y: event.touches[0].clientY,
      ratio: {
        x: event.touches[0].clientX / window.innerWidth,
        y: event.touches[0].clientY / window.innerHeight,
      }
    });
  });

  window.addEventListener("devicemotion", (event) => {
    console.log(event);
  });

</script>