<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Position</title>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
  </head>
  <body>
    <div id="content"></div>
    <script type="text/javascript" src="scripts/nexusui/dist/NexusUI.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/assets/js/ui/position.js"></script>  
  </body>
</html>
