<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sequencer</title>
        <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
        </style>
    </head>

    <body class="zombitronica__sequencer">
        <div id="sequencer"></div>
        <script type="text/javascript" src="scripts/nexusui/dist/NexusUI.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/assets/js/ui/sequencer.js"></script>
    </body>
</html>
