<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #ball {
      background: red;
      position: absolute;
      width: 40px;
      height: 40px;
      margin: -20px;
    }
    canvas {
      width: 100%;
      height: 100%;
      position: fixed;
      inset: 0;
    }
  </style>
</head>
<body>
  <div id="ball"></div>
  <canvas class="glcanvas"></canvas>
</body>
</html>

<script src="http://unpkg.com/tone"></script>

<script src="/socket.io/socket.io.js"></script>
<script>
  //create a synth and connect it to the main output (your speakers)
  const synth = new Tone.Synth().toDestination();

  document.body.addEventListener('click', () => {
  
    //play a middle 'C' for the duration of an 8th note
    synth.triggerAttackRelease("C4", "8n");
  })

  const socket = io();

  socket.on('reception', (data) => {
    var notes = ["A3", "B3", "C4", "D4", "E4", "F4", "G4"]
    var index = Math.floor(data.ratio.x * notes.length);
    synth.triggerAttackRelease(notes[index], "2n");
  });

</script>