<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Zombitronpolis</title>
        <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
    </head>

    <body class="zombitronpolis">
        <div id="start">Bricolage</div>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/assets/js/zombitronpolis.js"></script>
    </body>
</html>