@font-face {
    font-family: 'BricolageGrotesque';
    src: url('/assets/fonts/BricolageGrotesque.ttf');
}
body {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font: 1em sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.zombitronica__controller #content {
}

.zombitronica__controller #content1 {
    
}

.zombitronica__controller #content2 {
    
}



/* ZOMBITRONPOLIS */
body.zombitronpolis {
    background: white;
    color: black;
    font: 1em 'BricolageGrotesque';
    align-items: center;
    justify-content: center;

}

body.zombitronpolis #start {
    padding: 10px;
    font-size: 50px;
    font-variation-settings: "wdth" 75, "wght" 200, "opsz" 12;
    transform: skewX(0);
}